
<div class="cont">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <form>
    <div class="mb-3">
     Enter User Name
      <input type="text" class="form-control" >
    </div>
    <div class="mb-3">
      Enter password
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <br><br>
    <p>Create new account &nbsp;&nbsp;<a routerLink="/register">Register now</a></p>
  </form>
  </div>
  </div>
  </div>
