
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="../assets/img.webp" height="70px" width="130px">&nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" href="#">NewShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Mens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Kids</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit" >Search </button>&nbsp;
       <a routerLink="/showCart"> <i class="fa-solid fa-cart-shopping" style="color: blanchedalmond; font-size: 30px;"></i></a>&nbsp;&nbsp;
       <a routerLink="/login"><i class="fa-solid fa-user" style="color: blanchedalmond; font-size: 30px;"></i></a>
        &nbsp; &nbsp;
        
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>